.caixa {
  text-align: left;
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  margin: auto;
  height: 100%;
  width: 100%;
}

.cont {
  margin: auto;
  display: flex;
  justify-content: center;
  margin: 0 22%;
  height: 600px;
}

.title {
  font-size: large;
  color: #154784;
}

.type {
  font-size: small;
  color: #999999;
  padding-bottom: 7px;
}

.price {
  font-size: larger;
  font-weight: 900;
  color: #154784;
}

.foto {
  display: block;
  opacity: 1;
  width: 50%;
  height: auto;
  border: 3px solid #f2f2f2;
  padding: 5px;
  border-radius: 8px;
}

.favorito {
  display: flex;
  justify-content: flex-start;
}

.heart {
  height: 50px;
  padding: 10px 0;
  color: #e94560;
}

.carro {
  height: 50px;
  padding: 11px 0;
  margin-left: 20px;
  color: #e94560;
}

.arrow {
  color: #b3b3b3;
}

.textofav {
  padding-top: 11px;
  padding-left: 5px;
}
