.App {
    text-align: center;
  }
  
  body{
    background: rgb(34,193,195);
    /* background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%); */
    background: linear-gradient(135deg, #45D3EC 0%,     #87FAA0 100%);
    /* background: linear-gradient(135deg, #9DE8F5 0%,     #BFFACC 100%); */
    font-family: "work sans";
    background-repeat: no-repeat;
  }

  .h1{
    color: #ff014f;
  }
  
  .box{
    max-width: 600px;
    min-width: 300px;
    max-height: 700px;
    width: 150%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    padding: 5% 5% 5% 5%;
    margin-left: -20%;
  }
  
  .button{
    width: 45%;
    color: white;
    font-size: 10px;
    background-color: #45D3EC;
  }